<launch>
  <arg name="stage" default="2"/>
  <arg name="train" default="0"/>
  <arg name="run_type" default="1"/>
   <arg name="model_type" default="0"/> 
  <param name="stage_number"  value="$(arg stage)"/>
  <param name="train"  value="$(arg train)"/>
  <param name="run_type"  value="$(arg run_type)"/>
  <param name="model_type"  value="$(arg model_type)"/>  
  <node pkg="rl_nav" type="turtlebot3_dqn.py" name="turtlebot3_dqn" output="screen" />
</launch>
