<launch>
  <arg name="stage" default="4"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <node pkg="rl_nav" type="turtlebot3_dqn.py" name="turtlebot3_dqn" output="screen" />

  <node pkg="rl_nav" type="combination_obstacle_1.py" name="combination_obstacle_1" output="screen" />
  <node pkg="rl_nav" type="combination_obstacle_2.py" name="combination_obstacle_2" output="screen" />
</launch>
