<launch>
  <arg name="stage" default="3"/>
  <arg name="load_model" default="0"/>
  <arg name="load_episode" default="0"/>
  <arg name="train" default="1"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <param name="load_model"  value="$(arg load_model)"/>
  <param name="load_episode"  value="$(arg load_episode)"/>
  <param name="train"  value="$(arg train)"/>
  <node pkg="rl_nav" type="turtlebot3_dqn.py" name="turtlebot3_dqn" output="screen" />

  <node pkg="rl_nav"  type="moving_obstacle.py" name="moving_obstacle" output="screen" />
</launch>
